body {
    position: relative;
  }
  
  nav {
    position: relative;
    z-index: 1;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }
  
  .menu.open {
    z-index: 2;
  }
  
  @media screen and (min-width: 768px) {
    .menu {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      padding: 0;
      left: 0;
    }
  }
  
  body.menu-open {
    overflow: hidden;
  }
  