.contactContainer {
    background-color: rgb(216, 216, 216);
    height: 1000px;
  }

  .socials {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .socialIcons {
    width: 35px;
    height: 35px;
  }

  #Twitter {
    color: 	#1DA1F2;
  }

  #LinkedIn {
    color: #0077b5;
  }
