@import './css/theme-variables.scss';

  @font-face {
    font-family: 'Coolvetica';
    src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
      url('./assets/fonts/CoolveticaRg-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Hubot-Sans';
    src: url('./assets/fonts/Hubot-Sans-BlackSemi.woff2') format('woff2'),
      url('./assets/fonts/Hubot-Sans-BlackSemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Coolvetica';
  }

  #root {
    @include themify($themes) {
      background-color: themed('bodyBackgroundColor');
      color: themed('textColor');
    }
  }

  h1 {
    font-family: 'Hubot-Sans', sans-serif;
  }
  a{
    cursor: pointer;
  }
  img{
    max-width: 100%;
  }
  main{
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
  }
  header{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
  }
  header a{
    text-decoration:none;
    color: inherit;
  }
  header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
  }
  header nav{
    display:flex;
    gap: 24px;
  }
  
  div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 700px) {
    div.post,
    .skeleton-post {
        grid-template-columns: .9fr 1.1fr;
    }
    .skeleton-post {
      height: 250px;
      
      .image {
        border-radius: 12px 0 0 12px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .skeleton-loading {
      padding: 0 40px;
      .skeleton-post {
        height: 500px;
        .image {
          height: 250px;
        }
        .texts {
          padding: 15px;
          .titleSkeleton {
            width: 85%;
          }
        }
      }
    }
  }
  
  div.post {
    @include themify($themes) {
      background-color: themed('headerFooterBackground');
    }
  }

  div.post div.texts h2{
    margin:0;
    font-size: 2rem;
  }
  div.post div.texts a{
    text-decoration:none;
    color: inherit;
  }
  div.post p.info{
    margin:24px 0;
    color: #ffffff;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  div.post p.info {
    @include themify($themes) {
      color: themed('textColor');
    }
  }
  div.post p.summary{
    margin:10px 0;
    line-height: 1.8rem;
  }
  
  form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
  }
  input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  button{
    cursor: pointer;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
  }
  form.login h1, form.register h1{
    text-align: center;
  }
  
  .post-page {
    padding: 0 160px 100px 320px;
    margin: auto;
    @include themify($themes) {
      background-color: themed('bodyBackgroundColor');
      color: themed('textColor');
    }
  }
  div.post-page div.image{
    width: 100%;
    margin: auto;
    display: flex;
    overflow:hidden;
    padding: 0 80px;
    margin-bottom: 25px;
  }
  div.post-page div.image img{
    max-width: 800px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  div.post-page a{
    @include themify($themes) {
      background-color: themed('buttonColor');
    }
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: ease-in 0.3s;
  }
  div.post-page a:hover{
    border-radius: 25px;
  }
  div.post-page h1{
    text-align: center;
    padding: 10px 0 5px;
  }
  div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
  }
  div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
  }
  div.content li{
    margin-bottom: 10px;
  }
  div.content img{ 
    width: 50%;
    display: flex;
    margin: auto;
  }
  div.edit-row{
    text-align: center;
    margin-bottom: 20px;
  }
  div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
  }
  a svg{
    height:20px;
  }
  .postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 0 0 80px;
  }
  .post {
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .post .image img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post .texts{
    padding: 20px 25px;
  }
  .portfiloPage {
    @include themify($themes) {
      background-color: themed('bodyBackgroundColor');
      color: themed('textColor');
    }
  }

  .skeleton-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skeleton-post {
      width: 90%;
      max-width: 800px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      @include themify($themes) {
        background-color: themed('headerFooterBackground');
      }
      display: grid;
      gap: 20px;
      margin-bottom: 30px;

      @keyframes pulse {
          50% {
              opacity: .5;
          }
      }
    
      .image {
        @include themify($themes) {
          background-color: themed('textColor');
        }
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
      .texts {
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        
        .titleSkeleton {
          @include themify($themes) {
            background-color: themed('textColor');
          }
          height: 2rem;
          margin: 1rem 1rem 1rem 0;
          border-radius: 8px;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
        .authorSkeleton {
          @include themify($themes) {
            background-color: themed('textColor');
          }
          height: 1rem;
          width: 50%;
          margin: 1rem 1rem 2rem 0;
          border-radius: 8px;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
        .summarySkeleton {
          @include themify($themes) {
            background-color: themed('textColor');
          }
          height: 1rem;
          margin: 1rem 1rem 0 0;
          border-radius: 8px;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
        .summarySkeleton:nth-child(5) {
          width: 35%;
        }
      }
    }
  }

  .portfiloHeading {
    padding: 60px 120px;
    font-size: 3rem;
  }
  
  .createPostContainer, .editPostContainer {
    @include themify($themes) {
      background-color: themed('bodyBackgroundColor');
      color: themed('textColor');
    }
    height: 100vh;
    padding: 0 80px 0 160px;

    .editHeading {
      font-size: 3rem;
      padding: 60px 0;
    }
  }
  .createPost, .editPost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    border-radius: 12px;
    padding: 12px;
    max-width: 1100px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .createPostBtn, .editPostBtn {
    width: 15%;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
  }
  .createPostBtn:hover,
  .editPostBtn:hover {
    background-color: #9b9b9b;
  }
  
  @media screen and (max-width: 1200px) {
    .postContainer {
      padding: 0 60px;
    }
    .portfiloHeading {
      padding: 60px;
      font-size: 3rem;
    }
    .post-page {
      padding: 30px 60px;
    }
    div.post-page div.image{
      width: 50%;
      margin: auto;
      margin-bottom: 25px;
      padding: 0;
    }
    .createPostContainer, .editPostContainer {
      padding: 0;

      .editHeading {
        font-size: 3rem;
        padding: 60px 60px;
      }
    }
    .createPost, .editPost {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 80px;
    }
  }
  
  @media screen and (max-width: 787px) {
    .post-page {
      padding: 20px 30px;
    }
    .createPost, .editPost {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px 60px;
    }
    .createPostBtn, .editPostBtn {
      width: 30%;
    }
  }